.place-card__image{
  width: 100%;
  height: 272px;
  background-size: cover;
  position: relative;
  border-radius: 10px;
}

@media screen and (max-width: 1024px){
  .place-card__image{
    height: 200px;
  }
}

@media screen and (max-width: 768px){
  .place-card__image{
    height: 150px;
  }
}

@media screen and (max-width: 420px){
  .place-card__image{
    height: 196px;
  }
}