@import url('./_black/header__mobile-button_black.css');

.header__mobile-button{
  background-image: url('../../../images/menu.svg');
  background-color: transparent;
  height: 24px;
  width: 24px;
  border: none;
  display: none;
}

@media screen and (max-width: 670px){
  .header__mobile-button{
    display: flex;
  }
}