
.button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  width: 150px;
  height: 50px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  display: block;
  cursor: pointer;
  border-radius: 100px;
}




