.footer__copyright{
  margin: 0;
  align-self: center;
  font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  color: #B6BCBF;
}

@media screen and (max-width: 732px){
  .footer__copyright{
    order: 2;
    align-self: auto;
    margin-top: 38px;
  }
}