@import url('./_hide/header__list-item_hide.css');

.header__list-item{
  list-style-type: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 56px;
  color: white;
}