.search-field__input{
  width: 596px;
  font-size: 16px;
  padding: 6px 0 4px 10px;
  border: 1px solid #d1d2d6;
  background: #fff;
  border-radius: 100px;
  height: 52px;
  font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}