.about-author__title{
  margin-top: 104px;
  margin-bottom: 24px;
  font-family: 'Roboto Slab';
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 0px;
  text-align: left;
}

@media screen and (max-width: 1024px){
  .about-author__title{
    font-size: 30px;
    margin-top: 0;
  }
}