.search-field__button{
  background-color: #2f71e5;
  border-radius: 100px;
  position: absolute;
  width: 168px;
  border: none;
  right: 0;
  height: 64px;
  font-family: 'Roboto';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.search-field__button:hover{
  background-color: #347EFF;
}

.search-field__button:active{
  background-color: #2A65CC;
}

@media screen and (max-width: 1024px){
  .search-field__button{
    width: 160px;
  }
}

@media screen and (max-width: 570px){
  .search-field__button{
    margin-top: 75px;
    height: 56px;
    width: 288px;
  }
}