.footer__main-list{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 732px){
  .footer__main-list{
    flex-direction: column;
  }
}