@import url('../header/__menu/header__menu.css');
@import url('../header/__nav/header__nav.css');
@import url('../header/__about/header__about.css');
@import url('../header/__about-title/header__about-title.css');
@import url('../header/__about-subtitle/header__about-subtitle.css');
@import url('../header/__search-form/header__search-form.css');
@import url('../header/__theme/__theme.css');

.header{
  background-image: url('../../images/georgia-de-lotz--UsJoNxLaNo-unsplash\ \(1\).svg');
  background-repeat: no-repeat;
  color: white;
  max-height: 576px;
}